<div class="container">
  <div class="row">
    <div class="col-md-12 mb-3">
      <div class="d-flex justify-content-between mb-3">
        <h2>My profile</h2>
        {{#ifeq user.role 'ADMIN'}}
        <a href="/add-user" type="button" class="btn btn-primary btn-block">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        {{/ifeq}}
        {{#ifeq user.role 'ORGANIZER_ADMIN'}}
        <a href="/add-user" type="button" class="btn btn-primary btn-block">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        {{/ifeq}}
      </div>
      <div class="">
        <form method="post" action="my-profile">
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" readonly aria-describedby="Username" disabled value="{{user.username}}">
          </div>

          <div class="mb-3">
            <label for="firstname" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstname" aria-describedby="firstname" name="firstName"
              required value="{{user.firstName}}">
          </div>

          <div class="mb-3">
            <label for="lastname" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="lastname" name="lastName" required
              value="{{user.lastName}}">
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>

</div>