<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <h2>Organizers</h2>
    {{#if (eq user.role 'ADMIN')}}
      <a href="/organizers/new" type="button" class="btn btn-primary btn-block mb-4">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    {{/if}}
  </div>
  <div class="overflow-x-scroll">
    <table class="table table-striped" style="min-width: 600px;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col" class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each organizers}}
        <tr>
          <th scope="row">
            {{@index}}</th>
          <td>{{this.name}}</td>
          <td class="text-end">
            <a href="/organizers/{{this.id}}/edit" class="p-2"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
