<div class="login-page">
  <div class="mt-5 d-flex justify-content-center">
    <div class="">
      <div class="card" style="max-width: 100%; width: 400px; background: none; color: white;">
        <div class="card-body" style="background: #000000a3;">
          <form action="/register-event" method="post">
            <select name="event">

            </select>
            <input type="text" id="seat" class="form-control" name="seat" />
            <input type="text" id="email" class="form-control" name="email" />
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Đăng nhập</button>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>