*:not(i) {
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Open Sans', sans-serif !important;
}

a {
    text-decoration: none;
}

.footer {
    bottom: 0;
    width: 100%;
    background: #000000;
    color: white;
}
.event-item {
    background-image: url(/images/event-item.webp);
    background-size: cover;
}
.content {
    min-height: calc(100vh - 120px);
}
header {
    z-index: 99;
    position: relative;
}
.login-page {
    position: fixed;
    background-color: #f8f9fa;
    width: 100%;
    height: 100%;
    background-image: url(/images/login_bg.jpg);
    background-size: cover;
    left: 0;
    top: 0;
    opacity: 0.8;
}